<p>
  View details of users - <a href="/view-data" target="_blank">/view-data</a>
</p>
<p>Download details of users - <a href="/data" target="_blank">/data</a></p>
<p>Make a user admin - <a href="/make-admin" target="_blank">/make-admin</a></p>
<p>
  Delete a user account (non-reversible) -
  <a href="/delete-user" target="_blank">/delete-user</a>
</p>
