<%- include('../partials/header'); %>

<!--  HOME SLIDER BLOCK  -->

<div class="slider-wrap">
  <div
    id="slider_1"
    class="owl-carousel"
    data-nav="true"
    data-dots="false"
    data-autoplay="true"
    data-autoplaytimeout="17000"
  >
    <div
      class="slider_item_container"
      data-bg_img="images/home_1_slider_1.jpg"
      data-bg_color="#555555"
      data-bg_opacity="0.0"
    >
      <div class="item">
        <div class="slider-content">
          <div class="container text-left">
            <div class="row">
              <div class="slider-bg">
                <div class="col-sm-12 wow zoomInUp" data-wow-duration="1s">
                  <h3>Donate Blood, Save Life!</h3>
                  <h2>
                    YOUR BLOOD
                    <br />
                    CAN BRING SMILE
                    <br />
                    IN OTHER PERSON FACE
                  </h2>
                  <% if (!isLogged) { %>
                  <a href="/register" class="btn btn-theme margin-top-24"
                    >Register Now</a
                  >
                  <% } %>
                </div>
              </div>
              <!-- end .col-sm-12  -->
            </div>
            <!-- end .row  -->
          </div>
          <!-- end .container -->
        </div>
        <!--  end .slider-content -->
      </div>
      <!-- end .item  -->
    </div>
    <!-- end .slider_item_container  -->

    <div
      class="slider_item_container"
      data-bg_img="images/home_1_slider_2.jpg"
      data-bg_color="#555555"
      data-bg_opacity="0.0"
    >
      <div class="item">
        <div class="slider-content">
          <div class="container text-left">
            <div class="row">
              <div
                class="slider-bg"
                data-animation-in="zoomInUp"
                data-animation-out="zoomInDown"
              >
                <div class="col-sm-12 wow fadeInDown" data-wow-duration="1s">
                  <h3>Are You A Active Donor?</h3>
                  <h2>
                    THANK YOU
                    <br />
                    FOR SAVING LIVES.
                  </h2>
                  <% if (!isLogged) { %>
                  <a href="/login" class="btn btn-theme margin-top-24"
                    >Login Now</a
                  >
                  <% } %>
                </div>
              </div>
              <!-- end .col-sm-12  -->
            </div>
            <!-- end .row  -->
          </div>
          <!-- end .container -->
        </div>
        <!--  end .slider-content -->
      </div>
      <!-- end .item  -->
    </div>
    <!-- end .slider_item_container  -->
  </div>
  <!-- end .slider_1  -->
</div>
<!-- end .slider-wrap.  -->

<!--  FEATURED ABOUT US SECTION-->

<section id="about" class="section-content-block">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="about-us-container theme-custom-box-shadow">
          <div class="row section-heading-wrapper margin-bottom-11">
            <div
              class="col-lg-12 col-md-12 col-sm-12 text-left no-img-separator"
            >
              <h2><strong>Who We Are?</strong></h2>
              <span
                class="heading-separator heading-separator-horizontal"
              ></span>
            </div>
            <!-- end .col-sm-10  -->
          </div>

          <div class="about-details">
            <p>"A Man Who Saves One Life Saves All Mankind"</p>

            <ul class="custom-bullet-list">
              <li>Welcome to the offical blood donation website of NSS GCEK</li>
              <li>
                It is an initiative of NSS GCEK under ktu blood cell to bring up
                the enthusiastic blood donors of gcek
              </li>
              <li>
                By registering you can be a part of this life saving process
              </li>
              <li>
                You have to give your name, address,blood group,and contact
                number to become a part of our initiation
              </li>
              <li>
                Also you must be aware of your present health status before
                donating blood so Kindly go through the eligibility criteria
                given
              </li>
              <li>Donate blood and be the reason for someone's existence</li>
            </ul>

            <p>"There is no great joy than saving a soul"</p>
          </div>
          <!--  end .about-details -->
        </div>
      </div>
      <!--  end .col-lg-6 col-md-6 col-sm-12 col-xs-12 -->

      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <figure class="about-img theme-custom-box-shadow">
          <img src="images/about_feat_bg.jpg" alt="about" />
        </figure>
        <!-- end .cause-img  -->
      </div>
      <!--  end .col-lg-6 col-md-6 col-sm-12 col-xs-12  -->
    </div>
    <!--  end .row  -->
  </div>
</section>
<!--  end .section-about-us -->

<!--  SECTION GALLERY  -->

<section id="gallery" class="section-content-block section-pure-white-bg">
  <div class="container">
    <div class="row section-heading-wrapper">
      <div class="col-md-12 col-sm-12 text-center no-img-separator">
        <h2>GALLERY</h2>
        <span class="heading-separator"></span>
        <h4>Our prestigious voluntary work on campaigns by the team</h4>
      </div>
      <!-- end .col-sm-10  -->
    </div>
    <!-- end .row  -->
  </div>
  <!--  end .container -->

  <div class="container wow fadeInUp">
    <div class="row no-padding-gallery">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
        <a class="gallery-light-box" data-gall="myGallery" href="gallery/1.jpg">
          <figure class="gallery-img">
            <img src="gallery/1.jpg" alt="gallery image" />
          </figure>
          <!-- end .gallery-img  -->
        </a>
      </div>
      <!-- end .col-sm-3  -->

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
        <a class="gallery-light-box" data-gall="myGallery" href="gallery/2.jpg">
          <figure class="gallery-img">
            <img src="gallery/2.jpg" alt="gallery image" />
          </figure>
          <!-- end .gallery-img  -->
        </a>
      </div>
      <!-- end .col-sm-3  -->

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
        <a class="gallery-light-box" data-gall="myGallery" href="gallery/3.jpg">
          <figure class="gallery-img">
            <img src="gallery/3.jpg" alt="gallery image" />
          </figure>
          <!-- end .gallery-img  -->
        </a>
      </div>
      <!-- end .col-sm-3  -->
    </div>
    <!-- end .row  -->

    <div class="row no-padding-gallery">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
        <a class="gallery-light-box" data-gall="myGallery" href="gallery/4.jpg">
          <figure class="gallery-img">
            <img src="gallery/4.jpg" alt="gallery image" />
          </figure>
          <!-- end .gallery-img  -->
        </a>
      </div>
      <!-- end .col-sm-3  -->

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
        <a class="gallery-light-box" data-gall="myGallery" href="gallery/5.jpg">
          <figure class="gallery-img">
            <img src="gallery/5.jpg" alt="gallery image" />
          </figure>
          <!-- end .gallery-img  -->
        </a>
      </div>
      <!-- end .col-sm-3  -->

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
        <a class="gallery-light-box" data-gall="myGallery" href="gallery/6.jpg">
          <figure class="gallery-img">
            <img src="gallery/6.jpg" alt="gallery image" />
          </figure>
          <!-- end .gallery-img  -->
        </a>
      </div>
      <!-- end .col-sm-3  -->
    </div>
    <!-- end .row  -->

    <div class="row no-padding-gallery">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
        <a class="gallery-light-box" data-gall="myGallery" href="gallery/7.jpg">
          <figure class="gallery-img">
            <img src="gallery/7.jpg" alt="gallery image" />
          </figure>
          <!-- end .gallery-img  -->
        </a>
      </div>
      <!-- end .col-sm-3  -->

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
        <a class="gallery-light-box" data-gall="myGallery" href="gallery/8.jpg">
          <figure class="gallery-img">
            <img src="gallery/8.jpg" alt="gallery image" />
          </figure>
          <!-- end .gallery-img  -->
        </a>
      </div>
      <!-- end .col-sm-3  -->

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
        <a class="gallery-light-box" data-gall="myGallery" href="gallery/9.jpg">
          <figure class="gallery-img">
            <img src="gallery/9.jpg" alt="gallery image" />
          </figure>
          <!-- end .gallery-img  -->
        </a>
      </div>
      <!-- end .col-sm-3  -->
    </div>
    <!-- end .row  -->

    <div class="row no-padding-gallery">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
        <a
          class="gallery-light-box"
          data-gall="myGallery"
          href="gallery/10.jpg"
        >
          <figure class="gallery-img">
            <img src="gallery/10.jpg" alt="gallery image" />
          </figure>
          <!-- end .gallery-img  -->
        </a>
      </div>
      <!-- end .col-sm-3  -->

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
        <a
          class="gallery-light-box"
          data-gall="myGallery"
          href="gallery/11.jpg"
        >
          <figure class="gallery-img">
            <img src="gallery/11.jpg" alt="gallery image" />
          </figure>
          <!-- end .gallery-img  -->
        </a>
      </div>
      <!-- end .col-sm-3  -->

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
        <a
          class="gallery-light-box"
          data-gall="myGallery"
          href="gallery/12.jpg"
        >
          <figure class="gallery-img">
            <img src="gallery/12.jpg" alt="gallery image" />
          </figure>
          <!-- end .gallery-img  -->
        </a>
      </div>
      <!-- end .col-sm-3  -->
    </div>
    <!-- end .row  -->

    <div class="row no-padding-gallery">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
        <a
          class="gallery-light-box"
          data-gall="myGallery"
          href="gallery/13.jpg"
        >
          <figure class="gallery-img">
            <img src="gallery/13.jpg" alt="gallery image" />
          </figure>
          <!-- end .gallery-img  -->
        </a>
      </div>
      <!-- end .col-sm-3  -->

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
        <a
          class="gallery-light-box"
          data-gall="myGallery"
          href="gallery/14.jpg"
        >
          <figure class="gallery-img">
            <img src="gallery/14.jpg" alt="gallery image" />
          </figure>
          <!-- end .gallery-img  -->
        </a>
      </div>
      <!-- end .col-sm-3  -->

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
        <a
          class="gallery-light-box"
          data-gall="myGallery"
          href="gallery/15.jpg"
        >
          <figure class="gallery-img">
            <img src="gallery/15.jpg" alt="gallery image" />
          </figure>
          <!-- end .gallery-img  -->
        </a>
      </div>
      <!-- end .col-sm-3  -->
    </div>
    <!-- end .row  -->

    <div class="row no-padding-gallery">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
        <a
          class="gallery-light-box"
          data-gall="myGallery"
          href="gallery/16.jpg"
        >
          <figure class="gallery-img">
            <img src="gallery/16.jpg" alt="gallery image" />
          </figure>
          <!-- end .gallery-img  -->
        </a>
      </div>
      <!-- end .col-sm-3  -->

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
        <a
          class="gallery-light-box"
          data-gall="myGallery"
          href="gallery/17.jpg"
        >
          <figure class="gallery-img">
            <img src="gallery/17.jpg" alt="gallery image" />
          </figure>
          <!-- end .gallery-img  -->
        </a>
      </div>
      <!-- end .col-sm-3  -->

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
        <a
          class="gallery-light-box"
          data-gall="myGallery"
          href="gallery/18.jpg"
        >
          <figure class="gallery-img">
            <img src="gallery/18.jpg" alt="gallery image" />
          </figure>
          <!-- end .gallery-img  -->
        </a>
      </div>
      <!-- end .col-sm-3  -->
    </div>
    <!-- end .row  -->

    <div class="row no-padding-gallery">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
        <a
          class="gallery-light-box"
          data-gall="myGallery"
          href="gallery/19.jpg"
        >
          <figure class="gallery-img">
            <img src="gallery/19.jpg" alt="gallery image" />
          </figure>
          <!-- end .gallery-img  -->
        </a>
      </div>
      <!-- end .col-sm-3  -->

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
        <a
          class="gallery-light-box"
          data-gall="myGallery"
          href="gallery/20.jpg"
        >
          <figure class="gallery-img">
            <img src="gallery/20.jpg" alt="gallery image" />
          </figure>
          <!-- end .gallery-img  -->
        </a>
      </div>
      <!-- end .col-sm-3  -->

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
        <a
          class="gallery-light-box"
          data-gall="myGallery"
          href="gallery/21.jpg"
        >
          <figure class="gallery-img">
            <img src="gallery/21.jpg" alt="gallery image" />
          </figure>
          <!-- end .gallery-img  -->
        </a>
      </div>
      <!-- end .col-sm-3  -->
    </div>
    <!-- end .row  -->
  </div>
  <!-- end .container-fluid  -->
</section>
<!-- end .section-content-block  -->

<%- include('../partials/footer'); %>
