<%- include('../partials/header'); %>

<body>
  <div id="preloader">
    <span class="margin-bottom"><img src="/images/loader.gif" alt="" /></span>
  </div>

  <!--  HEADER -->

  <header class="main-header clearfix" data-sticky_header="true">
    <section class="header-wrapper navgiation-wrapper">
      <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="logo" href="/"><img alt="" src="images/logo.png" /></a>
          </div>

          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/">Home</a>
              </li>

              <li><a href="#about" title="About Us">About Us</a></li>

              <li>
                <a href="#gallery">Gallery</a>
              </li>

              <li><a href="#footer">Contact</a></li>

              <li><a href="/login">Account</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </header>
  <!-- end main-header  -->

  <!--  HOME SLIDER BLOCK  -->

  <div class="slider-wrap">
    <div id="slider_1" class="owl-carousel" data-nav="true" data-dots="false" data-autoplay="true" data-autoplaytimeout="17000">
      <div class="slider_item_container" data-bg_img="images/home_1_slider_1.jpg" data-bg_color="#555555" data-bg_opacity="0.0">
        <div class="item">
          <div class="slider-content">
            <div class="container text-left">
              <div class="row">
                <div class="slider-bg">
                  <div class="col-sm-12 wow zoomInUp" data-wow-duration="1s">
                    <h3>Donate Blood, Save Life!</h3>
                    <h2>
                      YOUR BLOOD
                      <br />
                      CAN BRING SMILE
                      <br />
                      IN OTHER PERSON FACE
                    </h2>
                    <a href="/login" class="btn btn-theme margin-top-24">Login Now</a>
                  </div>
                </div>
                <!-- end .col-sm-12  -->
              </div>
              <!-- end .row  -->
            </div>
            <!-- end .container -->
          </div>
          <!--  end .slider-content -->
        </div>
        <!-- end .item  -->
      </div>
      <!-- end .slider_item_container  -->

      <div class="slider_item_container" data-bg_img="images/home_1_slider_2.jpg" data-bg_color="#555555" data-bg_opacity="0.0">
        <div class="item">
          <div class="slider-content">
            <div class="container text-left">
              <div class="row">
                <div class="slider-bg" data-animation-in="zoomInUp" data-animation-out="zoomInDown">
                  <div class="col-sm-12 wow fadeInDown" data-wow-duration="1s">
                    <h3>Donate Blood, Save Life!</h3>
                    <h2>
                      DONATE BLOOD
                      <br />
                      AND INSPIRE OTHERS.
                    </h2>
                    <a href="/login" class="btn btn-theme margin-top-24">Login Now</a>
                  </div>
                </div>
                <!-- end .col-sm-12  -->
              </div>
              <!-- end .row  -->
            </div>
            <!-- end .container -->
          </div>
          <!--  end .slider-content -->
        </div>
        <!-- end .item  -->
      </div>
      <!-- end .slider_item_container  -->
    </div>
    <!-- end .slider_1  -->
  </div>
  <!-- end .slider-wrap.  -->

  <!--  FEATURED ABOUT US SECTION-->

  <section id="about" class="section-content-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="about-us-container theme-custom-box-shadow">
            <div class="row section-heading-wrapper margin-bottom-11">
              <div class="col-lg-12 col-md-12 col-sm-12 text-left no-img-separator">
                <h2><strong>Who We Are?</strong></h2>
                <span class="heading-separator heading-separator-horizontal"></span>
              </div>
              <!-- end .col-sm-10  -->
            </div>

            <div class="about-details">
              <p>
                Blood Buddies is for public donation center with blood donation
                members in the changing health care system.
              </p>

              <ul class="custom-bullet-list">
                <li>Specialist blood donors and clinical supervision.</li>
                <li>Increasing communication with our members.</li>
                <li>High quality assessment, diagnosis and treatment.</li>
                <li>Examine critically to ensure alignment.</li>
                <li>The extra care of a multi-disciplinary team.</li>
              </ul>
            </div>
            <!--  end .about-details -->
          </div>
        </div>
        <!--  end .col-lg-6 col-md-6 col-sm-12 col-xs-12 -->

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <figure class="about-img theme-custom-box-shadow">
            <img src="images/about_feat_bg.jpg" alt="about" />
          </figure>
          <!-- end .cause-img  -->
        </div>
        <!--  end .col-lg-6 col-md-6 col-sm-12 col-xs-12  -->
      </div>
      <!--  end .row  -->
    </div>
  </section>
  <!--  end .section-about-us -->

  <!--  SECTION GALLERY  -->

  <section id="gallery" class="section-content-block section-pure-white-bg">
    <div class="container">
      <div class="row section-heading-wrapper">
        <div class="col-md-12 col-sm-12 text-center no-img-separator">
          <h2>GALLERY</h2>
          <span class="heading-separator"></span>
          <h4>Our prestigious voluntary work on campaigns by the team</h4>
        </div>
        <!-- end .col-sm-10  -->
      </div>
      <!-- end .row  -->
    </div>
    <!--  end .container -->

    <div class="container wow fadeInUp">
      <div class="row no-padding-gallery">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
          <a class="gallery-light-box" data-gall="myGallery" href="images/gallery_1.jpg">
            <figure class="gallery-img">
              <img src="images/gallery_1.jpg" alt="gallery image" />
            </figure>
            <!-- end .gallery-img  -->
          </a>
        </div>
        <!-- end .col-sm-3  -->

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
          <a class="gallery-light-box" data-gall="myGallery" href="images/gallery_2.jpg">
            <figure class="gallery-img">
              <img src="images/gallery_2.jpg" alt="gallery image" />
            </figure>
            <!-- end .gallery-img  -->
          </a>
          <!-- end .gallery-light-box  -->
        </div>
        <!-- end .col-sm-3  -->

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
          <a class="gallery-light-box" data-gall="myGallery" href="images/gallery_3.jpg">
            <figure class="gallery-img">
              <img src="images/gallery_3.jpg" alt="gallery image" />
            </figure>
            <!-- end .gallery-img  -->
          </a>
        </div>
        <!-- end .col-sm-3  -->
      </div>
      <!-- end .row  -->

      <div class="row no-padding-gallery">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
          <a class="gallery-light-box" data-gall="myGallery" href="images/gallery_4.jpg">
            <figure class="gallery-img">
              <img src="images/gallery_4.jpg" alt="gallery image" />
            </figure>
            <!-- end .gallery-img  -->
          </a>
          <!-- end .gallery-light-box  -->
        </div>
        <!-- end .col-sm-3  -->

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
          <a class="gallery-light-box" data-gall="myGallery" href="images/gallery_5.jpg">
            <figure class="gallery-img">
              <img src="images/gallery_5.jpg" alt="gallery image" />
            </figure>
            <!-- end .gallery-img  -->
          </a>
        </div>
        <!-- end .col-sm-3  -->

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">
          <a class="gallery-light-box" data-gall="myGallery" href="images/gallery_6.jpg">
            <figure class="gallery-img">
              <img src="images/gallery_6.jpg" alt="gallery image" />
            </figure>
            <!-- end .gallery-img  -->
          </a>
          <!-- end .gallery-light-box  -->
        </div>
        <!-- end .col-sm-3  -->
      </div>
      <!-- end .row  -->
    </div>
    <!-- end .container-fluid  -->
  </section>
  <!-- end .section-content-block  -->

  <%- include('../partials/footer'); %>