<%- include('../partials/header'); %>

<section class="section-content-block section-secondary-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 wow fadeInLeft" style="float: none; margin: auto">
        <div class="contact-form-block">
          <h2 class="contact-title">Login To Your Account</h2>
          <% if (messages.error) { %> <%= messages.error %> <% } %>
          <form role="form" action="/login" method="POST" id="contact-form">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="user_email"
                name="email"
                placeholder="Email"
                data-msg="Please Enter Your Valid Email"
              />
            </div>

            <div class="form-group">
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Password"
                data-msg="Please Enter Your Correct Password"
              />
            </div>

            <div class="">
              <p>
                Don't have an account? <a href="/register">&nbsp;Register</a>
              </p>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-theme">Login Now</button>
            </div>
          </form>
        </div>
        <!-- end .contact-form-block  -->
      </div>
      <!--  end col-sm-6  -->
    </div>
    <!-- end row  -->
  </div>
  <!--  end .container -->
</section>
<!-- end .section-content-block  -->

<%- include('../partials/footer'); %>
