<%- include('../partials/header'); %>

<section class="section-content-block section-secondary-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 wow fadeInLeft" style="float: none; margin: auto">
        <div class="contact-form-block">
          <h2 class="contact-title">Register For An Account</h2>
          <p class="message">
            <% if (messages.error) { %> <%= messages.error %> <% } %>
          </p>
          <form role="form" action="/register" method="POST" id="contact-form">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="user_name"
                name="name"
                placeholder="Name"
                data-msg="Please Enter Your Name"
                required
              />
            </div>

            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="user_email"
                name="email"
                placeholder="Email"
                data-msg="Please Enter Your Valid Email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                required
              />
            </div>

            <div class="form-group">
              <input
                type="tel"
                class="form-control"
                id="user_phone"
                name="phone"
                placeholder="Phone Number (Whatsapp)"
                data-msg="Please Enter Your Valid Phone Number"
                pattern="[1-9]{1}[0-9]{9}"
                required
              />
            </div>

            <div class="form-group">
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Password"
                data-msg="Please Enter Your Correct Password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                required
              />
            </div>

            <div class="form-group">
              <textarea
                class="form-control"
                id="user_address"
                name="address"
                placeholder="Address"
                data-msg="Please Enter Your Address"
                required
              ></textarea>
            </div>

            <div class="form-group">
              <input
                type="number"
                class="form-control"
                id="user_age"
                name="age"
                placeholder="Age"
                data-msg="Please Enter Your Age"
                required
              />
            </div>

            <div class="form-group">
              <input
                type="number"
                class="form-control"
                id="user_height"
                name="height"
                placeholder="Height (in cm)"
                data-msg="Please Enter Your Height"
                required
              />
            </div>

            <div class="form-group">
              <input
                type="number"
                class="form-control"
                id="user_weight"
                name="weight"
                placeholder="Weight (in kg)"
                data-msg="Please Enter Your Weight"
                required
              />
            </div>

            <div class="form-group">
              <select
                class="form-control"
                id="user_blood"
                name="blood"
                data-msg="Please Select Your Blood Group"
                required
              >
                <option value="" disabled selected hidden>Blood Group</option>
                <option value="A+">A +ve</option>
                <option value="A-">A -ve</option>
                <option value="B+">B +ve</option>
                <option value="B-">B -ve</option>
                <option value="AB+">AB +ve</option>
                <option value="AB-">AB -ve</option>
                <option value="O+">O +ve</option>
                <option value="O-">O -ve</option>
              </select>
            </div>

            <div>
              <p>Already have an account? <a href="/login">&nbsp;Login</a></p>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-theme">Register Now</button>
            </div>
          </form>
        </div>
        <!-- end .contact-form-block  -->
      </div>
      <!--  end col-sm-6  -->
    </div>
    <!-- end row  -->
  </div>
  <!--  end .container -->
</section>
<!-- end .section-content-block  -->

<%- include('../partials/footer'); %>
