<%- include('../partials/header'); %>

<section class="section-content-block section-secondary-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 wow fadeInLeft" style="float: none; margin: auto">
        <div class="contact-form-block">
          <h2 class="contact-title">Register For An Account</h2>
          <p class="message">
            <% if (messages.error) { %> <%= messages.error %> <% } %>
          </p>
          <form
            role="form"
            action="/register"
            enctype="multipart/form-data"
            method="POST"
            id="contact-form"
          >
            <div class="form-group">
              <label for="name">Name*</label>
              <input
                type="text"
                class="form-control"
                id="user_name"
                name="name"
                placeholder="Please Enter Your Name"
                data-msg="Please Enter Your Name"
                required
              />
            </div>

            <div class="form-group">
              <label for="email">Email*</label>
              <input
                type="email"
                class="form-control"
                id="user_email"
                name="email"
                placeholder="Please Enter Your Email"
                data-msg="Please Enter Your Email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                required
              />
            </div>

            <div class="form-group">
              <label for="phone">Phone Number* (Whatsapp)</label>
              <input
                type="tel"
                class="form-control"
                id="user_phone"
                name="phone"
                placeholder="Please Enter Your Valid Phone Number"
                data-msg="Please Enter Your Phone Number"
                pattern="[1-9]{1}[0-9]{9}"
                required
              />
            </div>

            <div class="form-group">
              <label for="password">Password*</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Please Enter Your Correct Password"
                data-msg="Please Enter Your Password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                required
              />
            </div>

            <div class="form-group">
              <label for="address">Address*</label>
              <textarea
                class="form-control"
                id="user_address"
                name="address"
                placeholder="Please Enter Your Address"
                data-msg="Please Enter Your Address"
                required
              ></textarea>
            </div>

            <div class="form-group">
              <label for="age">Age*</label>
              <input
                type="number"
                class="form-control"
                id="user_age"
                name="age"
                placeholder="Please Enter Your Age"
                data-msg="Please Enter Your Age"
                required
              />
            </div>

            <div class="form-group">
              <label for="height">Height* (in cm)</label>
              <input
                type="number"
                class="form-control"
                id="user_height"
                name="height"
                placeholder="Please Enter Your Height"
                data-msg="Please Enter Your Height"
                required
              />
            </div>

            <div class="form-group">
              <label for="weight">Weight* (in kg)</label>
              <input
                type="number"
                class="form-control"
                id="user_weight"
                name="weight"
                placeholder="Please Enter Your Weight"
                data-msg="Please Enter Your Weight"
                required
              />
            </div>

            <div class="form-group">
              <label for="batch">Batch*</label>
              <select
                class="form-control"
                id="user_batch"
                name="batch"
                data-msg="Please Select Your Batch"
                required
              >
                <option value="" disabled selected hidden>
                  Please Select Your Batch
                </option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
              </select>
            </div>

            <div class="form-group">
              <label for="branch">Branch*</label>
              <select
                class="form-control"
                id="user_branch"
                name="branch"
                data-msg="Please Select Your Branch"
                required
              >
                <option value="" disabled selected hidden>
                  Please Select Your Branch
                </option>
                <option value="CE">CE</option>
                <option value="CSE">CSE</option>
                <option value="EEE">EEE</option>
                <option value="ECE">ECE</option>
                <option value="ME">ME</option>
              </select>
            </div>

            <div class="form-group">
              <label for="blood">Blood Group*</label>
              <select
                class="form-control"
                id="user_blood"
                name="blood"
                data-msg="Please Select Your Blood Group"
                return
                required
              >
                <option value="" disabled selected hidden>
                  Please Select Your Blood Group
                </option>
                <option value="A+">A +ve</option>
                <option value="A-">A -ve</option>
                <option value="B+">B +ve</option>
                <option value="B-">B -ve</option>
                <option value="AB+">AB +ve</option>
                <option value="AB-">AB -ve</option>
                <option value="O+">O +ve</option>
                <option value="O-">O -ve</option>
              </select>
            </div>

            <div class="form-group">
              <label for="note">Any diseases or medication?</label>
              <textarea
                class="form-control"
                id="user_note"
                name="note"
                placeholder="Anything to add?"
                data-msg="Anything to add?"
              ></textarea>
            </div>
            <h4>Are you a previous donor?</h4>
            <div class="form-group">
              <label for="date">Date of last donation</label>
              <input
                type="date"
                class="form-control"
                id="user_date"
                name="date"
                value=""
                placeholder="Please Enter Donated Date"
                data-msg="Please Enter Donated Date"
              />
            </div>
            <div class="form-group">
              <label for="photo">Any photo taken while donating</label>
              <input
                type="file"
                class="form-control"
                id="user_photo"
                name="photo"
                value=""
                data-msg="Please Upload Donating Photo"
              />
            </div>

            <div>
              <p>Already have an account? <a href="/login">&nbsp;Login</a></p>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-theme">Register Now*</button>
              <br />
              <p style="font-weight: 500; font-size: 0.8rem">
                *By clicking this button you confirm that all the details you
                gave are correct and you are eligible to donate blood in any
                means
              </p>
            </div>
          </form>
          <h2 class="contact-title">Requirements</h2>
          <ul style="list-style-type: circle">
            <li>
              Password must be at least 8 character long and should have at
              least one lowercase letter, uppercase letter and a number
            </li>
            <br />
            <li>Age must be at least 18</li>
            <br />
            <li>Weight must be at least 45 kilo grams</li>
            <br />
            <li>
              Check official website of NBTC for more blood donation
              requirements:
              <a
                href="http://nbtc.naco.gov.in/page/eligibility/"
                target="_blank"
                >http://nbtc.naco.gov.in/page/eligibility/</a
              >
            </li>
          </ul>
        </div>
        <!-- end .contact-form-block  -->
      </div>
      <!--  end col-sm-6  -->
    </div>
    <!-- end row  -->
  </div>
  <!--  end .container -->
</section>
<!-- end .section-content-block  -->

<%- include('../partials/footer'); %>
