<style>
  a {
    font-weight: 500;
    font-size: 1.25rem;
    text-decoration: none;
  }

  button {
    margin: 1rem 0;
    padding: 1rem;
    cursor: pointer;
  }

  table,
  th,
  td {
    border: 1px solid black;
    border-spacing: 0;
  }

  th,
  td {
    padding: 1rem;
  }
</style>
<a href="/data" target="_blank"><button>Download Data</button></a>
<form action="/view-data" method="GET">
  <label for="sort">Sort By:</label>
  <select name="sort" id="sort">
    <option value="name" selected>Name</option>
    <option value="email">Email</option>
    <option value="age">Age</option>
    <option value="height">Height</option>
    <option value="weight">Weight</option>
    <option value="blood">Blood type</option>
    <option value="date">Date of donation</option>
    <option value="donation_count">Donation Count</option>
    <option value="admin">Admin</option>
  </select>
  <label for="order">Order:</label>
  <select name="order" id="order">
    <option value="dc" selected>Descending</option>
    <option value="ac">Ascending</option>
  </select>
  <label for="filter">Blood filter:</label>
  <select name="filter" id="filter">
    <option value="" selected>All</option>
    <option value="A+">A +ve</option>
    <option value="A-">A -ve</option>
    <option value="B+">B +ve</option>
    <option value="B-">B -ve</option>
    <option value="AB+">AB +ve</option>
    <option value="AB-">AB -ve</option>
    <option value="O+">O +ve</option>
    <option value="O-">O -ve</option>
  </select>
  <input type="checkbox" id="mos" name="mos" />
  <label for="mos">Hide people who donated within 3 months</label>
  <input type="submit" />
</form>
<table id="csv">
  <%- csv %>
</table>
<script>
  function select(selectId, optionValToSelect) {
    var selectElement = document.getElementById(selectId);
    var selectOptions = selectElement.options;
    for (var opt, j = 0; (opt = selectOptions[j]); j++) {
      if (opt.value == optionValToSelect) {
        selectElement.selectedIndex = j;
        break;
      }
    }
  }

  const url = window.location.search;
  const urlParams = new URLSearchParams(url);
  let sort = urlParams.get("sort");
  let order = urlParams.get("order");
  let filter = urlParams.get("filter");
  let mos = urlParams.get("mos");

  if (sort) {
    select("sort", sort);
  }

  if (order) {
    select("order", order);
  }

  if (filter) {
    select("filter", filter);
  }

  if (mos) {
    document.getElementById("mos").checked = true;
  }
</script>
